.btn-add-new {
    margin: 10px 0;
    cursor: pointer;
}

.btn-back {    
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
}

.add-new-container {

    max-width: 400px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    margin: 0 auto;
    text-align: left;

    .inputs-data {
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-direction: column;
    }

    button {
        margin-left: 10px;
    }
}